@import "./typography";
@import "./colors";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: $text;
    color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

.todos-title {
    font: $title;
}

.todo-app--container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    .todo-app--components-container {
        display: flex;
        justify-content: center;
        padding: 80px;
        margin-left: -35px;
    }
}